h1 {
    font-size: 7em;
}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width:1214px) {
    h1 {
        font-size: 4em;
    }
}

div {
    padding: 1px;
}

@media screen and (max-width:770px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
    }
}